@keyframes pulse{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.05);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes fade{
    0%{
        opacity:1;
    }

    100%{
        opacity:0;
    }
}

:root{
    --alert-color: rgb(93, 236, 93);
}

body{
    background-color: rgb(228, 224, 224);
    margin-bottom: 100px;
}

#card{
    overflow: hidden;
    transition: all 0.3s;
    border:solid white 2px;
    color:white;

    .card-title{
        font-size: 1.6em;
    }
    #buttons-container{
        height:60%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    
        button{
            position: absolute;
            height: 100%;
            width:50%;
            transition: all 0.3s;
            border:none;
            
            &:nth-child(1){
                left:0;
                background:linear-gradient(to top, rgba(5, 247, 114,0.3), transparent, transparent);
    
                &:hover{
                    background: linear-gradient(to top, rgba(5, 247, 114,0.3), transparent);
                }
            }
    
            &:nth-child(2){
                right:0;
                background:linear-gradient(to top, rgba(247, 2, 2, 0.3), transparent,  transparent);
    
                &:hover{
                    background:linear-gradient(to top, rgba(247, 2, 2, 0.3), transparent);
                }
            }
        }
    }
    
    .card-text{
        font-size: 1.1em;
        @media only screen and (max-width: 768px){
            font-size: 0.8em;
        }
    
        @media only screen and (max-width: 1200px) and (min-width:992px){
            font-size: 0.9em;
        }
    }
    #line{
        width:100%;
        height:4px;
        background-color: rgb(255, 255, 255);
        transform: scaleX(0);
        transform-origin: left;
        border-radius: 500px;
    }

    &:hover{
        box-shadow: 6px 6px 20px rgb(112, 109, 109);
    }

    &:hover * #line{
        transform: scaleX(1);
        transition: transform 1.5s;
    }
    &:active * #line{
        transform: scaleX(1);
        transition: transform 1.5s;
    }

    #card-image{
        height: 350px;
        background-size: auto 100%;
    }

    #todo-footer{
        z-index:10;
        background-color:black;
        
        @media screen and (max-width:400px) {
            display:none;
        }
    }
}
.changed{
    animation: fade 1.5s forwards
}

#no-content-image{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1{
        font-size: 3em;
        @media screen and (max-width:768px) {
            font-size: 1.5em;
        }
    }
    img{
        @media screen and (max-width:768px) {
            transform:scale(0.7)
        }
    }
}

#add-button{
    justify-self: center;
    width:80vw;
    height:60px;
    position:fixed;
    bottom:50px;
    z-index: 12;
    border-radius: 500px;
    font-size: 1.4em;
    font-weight: 800;
    border: solid rgb(6, 73, 197) 8px;
    color:rgb(6, 73, 197);
    background-color: rgba(218, 209, 209,0.6);
    transition: all 0.2s;
    opacity:0.5;

    &:hover{
        background-color: rgb(6, 73, 197);
        color:white;
        animation: pulse 1s infinite;
        opacity:1;

        &::after, &::before{
            animation: pulse 1s infinite;
        }
    }


}

.droppable-container{
    padding-bottom: 20px;
    height: 100%;
    border-radius: 10px;
    position: relative;

    .title{
        font-size: 2em;
        color:rgb(77, 75, 75);
    
    }

    .inner-droppable{
        margin-top: 30px;
        border-radius: 10px;
        padding: 10px 20px;
        min-height:calc(100% - 90px);
        transition: all 0.3s;

        box-shadow:inset 4px 4px 15px rgba(78, 77, 77,0.6);

    }
}
.dragcompleted{
    background-color: rgb(198, 198, 245);
}
.dragfailed{
    background-color: rgba(223, 120, 120, 0.3);
}
.dragging{
    box-shadow: 5px 5px 10px rgba(14, 14, 14,0.6);
}
.dropped{
    color:rgb(230, 230, 125);
}
#card-for-grab{
    cursor:grab;
    z-index:2; 
    background-color: rgb(37, 48, 48);
}
#column-1-history{
    min-height:78vh;
    transition: all 0.3s;
    border-radius: 10px;
    background-color: rgb(240, 233, 233);

    &:hover{
        box-shadow: 20px 5px 20px -15px rgb(110, 108, 108);
    }
}
#column-2-history{
    
    width:50%;
    min-height:78vh;
    border-radius: 10px;
    background-color: rgb(209, 202, 202);
    transition: all 0.3s;

    &:hover{
        box-shadow: 20px 5px 20px -15px rgb(110, 108, 108);
    }

}
.mt-5{
    @media only screen and (max-width:720px) {
        font-size: 0.8em;
    }
}
.custom-alert{
    position: absolute;
    top:80px;
    left:50%;
    width:350px;
    display:flex;
    font-size: 1.2em;
    border: solid white 4px;
    color:white;
    box-shadow: 4px 4px 10px rgb(158, 153, 153);
    flex-direction: row;
    justify-content: center;
    gap:10px;
    align-items: center;
    min-height:60px;
    border-radius: 500px;
    background-color: var(--alert-color);
    transform: translate(-50%, 0%);
}

.overlay-animation-enter{
    transform: translateX(-100%);
    opacity:0;
}
.overlay-animation-enter-active{
    transform: translateX(0%);
    opacity:1;
    transition: all 0.3s;
}
.overlay-animation-exit{
    transform: translateX(0%);
    opacity:1;
}
.overlay-animation-exit-active{
    transform: translateX(100%);
    opacity:0;
    transition: all 0.3s;
}

.alert-transition-enter{
    transform: translate(-50%,-100%);
    opacity:0;
}
.alert-transition-enter-active{
    transform: translate(-50%, 0%);
    opacity:1;
    transition: all 0.2s;
}
.alert-transition-exit{
    transform: translate(-50%, 0%);
    opacity:1;
}
.alert-transition-exit-active{
    transform: translate(-50%, -100%);
    opacity:0;
    transition: all 0.2s;
}