@keyframes pulse{
    0%{
        transform:translateX(-50%) scale(1);
    }
    50%{
        transform:translateX(-50%) scale(1.05);
    }
    100%{
        transform:translateX(-50%) scale(1);
    }
}

@keyframes fade{
    0%{
        opacity:1;
    }

    100%{
        opacity:0;
    }
}
@font-face{
    font-family: JosefinSans;
    src:url('./JosefinSans-VariableFont_wght.ttf');
}
@font-face{
    font-family: JosefinSansBold;
    src:url('./static/JosefinSans-Bold.ttf');
}
:root{
    --alert-color: rgb(93, 236, 93);
}

body{
    background-color: #FEFEFE;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%239899AE' stroke-width='63.8' stroke-opacity='0' %3E%3Ccircle fill='%23FEFEFE' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23fafafa' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23f6f6f5' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23f2f2f1' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23efeded' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23ebe9e9' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23e7e5e4' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23e3e1e0' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23dfdddc' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23dcd9d8' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%23d8d5d4' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%23d4d1d0' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%23d0cdcb' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%23cdc9c7' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%23c9c5c3' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%23c5c1bf' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%23c2bdbb' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23BEB9B7' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    font-family: JosefinSans;
    overflow-x: hidden;
    position: relative;
    
}

#card{
    overflow: hidden;
    transition: all 0.3s;
    color:white;
    border:solid white 4px;

    .card-title{
        font-size: 1.6em;
        cursor:default;

        button{
            position: absolute;
            z-index: 40;
            right:20px;
            bottom:50px;
            visibility:hidden;

            @media (hover:none){
                visibility: visible;
            }
        }
    }
    #buttons-container{
        height:60%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    
        button{
            position: absolute;
            height: 100%;
            width:50%;
            transition: all 0.3s;
            border:none;
            
            &:nth-child(1){
                left:0;
                background:linear-gradient(to top, rgba(5, 247, 114,0.3), transparent, transparent);
    
                &:hover{
                    background: linear-gradient(to top, rgba(5, 247, 114,0.3), transparent);
                }
            }
    
            &:nth-child(2){
                right:0;
                background:linear-gradient(to top, rgba(247, 2, 2, 0.3), transparent,  transparent);
    
                &:hover{
                    background:linear-gradient(to top, rgba(247, 2, 2, 0.3), transparent);
                }
            }
        }
    }
    
    .card-text{
        font-size: 1.1em;
        @media only screen and (max-width: 768px){
            font-size: 0.8em;
        }
    
        @media only screen and (max-width: 1200px) and (min-width:992px){
            font-size: 0.9em;
        }
    }
    #line{
        width:100%;
        height:4px;
        background-color: rgb(255, 255, 255);
        transform: scaleX(0);
        transform-origin: left;
        border-radius: 500px;

        @media (hover:none){
            visibility: hidden;
        }
    }

    &:hover{
        box-shadow: 6px 6px 20px rgb(0, 0, 0, 0.6);
    }

    &:hover * #line{
        transform: scaleX(1);
        transition: transform 1.5s;
    }

    #card-image{
        height: 350px;
        background-size: auto 100%;
    }

    #todo-footer{
        z-index:10;
        background-color:black;

        #deadline-column{
             @media screen and (max-width:400px) {
                font-size: 0.7em;
            }
        }
        #remianing-time-column{
            @media screen and (max-width:400px) {
                font-size: 0.7em;
                visibility: hidden;
            }
        }
    }
}
.changed{
    animation: fade 1.5s forwards
}

#no-content-image{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:60vh;
    h1{
        font-size: 3em;
        @media screen and (max-width:768px) {
            font-size: 1.5em;
        }
    }
    img{
        max-width: 100vw;
        @media screen and (max-width:768px) {
            transform:scale(0.8)
        }
    }
}

#add-button{
    width:80vw;
    height:60px;
    position:fixed;
    left:50%;
    transform: translateX(-50%);
    bottom:50px;
    z-index: 12;
    border-radius: 500px;
    font-size: 1.4em;
    font-weight: 800;
    border: solid rgb(6, 73, 197) 8px;
    color:rgb(6, 73, 197);
    background-color: rgba(218, 209, 209,0.6);
    transition: all 0.2s;
    opacity:0.5;

    &:hover{
        background-color: rgb(6, 73, 197);
        color:white;
        animation: pulse 1s infinite;
        opacity:1;

        &::after{
            animation: pulse 1s infinite;
        }
    }


}

.droppable-container{
    padding-bottom: 20px;
    height: 100%;
    border-radius: 10px;
    position: relative;

    

    .title-1, .title-2{
        font-size: 2em;
        color:rgb(255, 255, 255);
        transition: all 0.6s;
        cursor:default;
    }


    .inner-droppable{
        margin-top: 30px;
        border-radius: 10px;
        padding: 10px 20px;
        min-height:calc(100% - 90px);
        transition: all 0.6s;
    }
}
.dragcompleted{
    background-color: rgb(175, 238, 214);
}
.dragfailed{
    background-color: rgb(236, 172, 172);
}
.dragging{
    box-shadow: 5px 5px 10px rgba(14, 14, 14,0.6);
}
.dropped{
    color:rgb(230, 230, 125);
}
#card-for-grab{
    cursor:grab;
    z-index:2; 
    background-color: rgb(37, 48, 48);
}

#column-1-history{
    min-height:78vh;
    transition: all 0.6s;
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
    border: solid transparent 4px;

    &:hover{
        border-color:rgb(175, 238, 214);
        box-shadow: 0px 0px 20px black;
    }
    &:hover * .title-1{
        color:rgb(175, 238, 214);
    }
    
}
#column-2-history{
    @extend #column-1-history;

    &:hover{
        border-color:rgb(236, 172, 172);
        box-shadow: 0px 0px 20px black;
    }
    &:hover * .title-2{
        color:rgb(236, 172, 172);
    }

}
.mt-5{
    @media only screen and (max-width:720px) {
        font-size: 0.8em;
    }
}
.custom-alert{
    position: fixed;
    z-index: 100;
    top:80px;
    left:50%;
    width:350px;
    display:flex;
    font-size: 1.2em;
    border: solid white 4px;
    color:white;
    box-shadow: 4px 4px 10px rgba(0, 0, 0,0.5);
    flex-direction: row;
    justify-content: center;
    gap:10px;
    align-items: center;
    min-height:60px;
    border-radius: 500px;
    background-color: var(--alert-color);
    transform: translate(-50%, 0%);
}

#about-background{
    width:100vw;
    height:calc(100vh - 55px);
    background-image: url('./wave-haikei.svg');
    background-size:110%;
    position: absolute;
    left:0;
    top:55px;
    z-index: -1;
    overflow: hidden;

    @media screen and (max-width:990px) {
        background-size: auto 130%;
    }
    #about-container{
        margin-top: 50px;
        position: relative;
        top:10%;
        h1{ 
            font-size: 4.5em;
            font-family: JosefinSansBold;
            position: relative;

            &::after{
                content:'';
                position: absolute;
                width:100%;
                height:8px;
                border-radius: 500px;
                background-color: rgba(0, 0, 0, 0.6);
                left:0;
                bottom:-20px;
            }
        }
        p{
            margin-top: 50px;
            padding: 20px 0px;
        }

    }
    #about-image{
        position: absolute;
        left:50%;
        bottom:0;
        z-index: -1;
        transform: rotateY(180deg);

        @media screen and (max-width:990px) {
            visibility: hidden;
        }
    }
}
#modal{
    @media screen and (max-width:400px) {
        transform: scale(0.9);
    }
}
.overlay-animation-enter{
    transform: translateX(-100%);
    opacity:0;
}
.overlay-animation-enter-active{
    transform: translateX(0%);
    opacity:1;
    transition: all 0.3s;
}
.overlay-animation-exit{
    transform: translateX(0%);
    opacity:1;
}
.overlay-animation-exit-active{
    transform: translateX(100%);
    opacity:0;
    transition: all 0.3s;
}

.alert-transition-enter{
    transform: translate(-50%,-100%);
    opacity:0;
}
.alert-transition-enter-active{
    transform: translate(-50%, 0%);
    opacity:1;
    transition: all 0.2s;
}
.alert-transition-exit{
    transform: translate(-50%, 0%);
    opacity:1;
}
.alert-transition-exit-active{
    transform: translate(-50%, -100%);
    opacity:0;
    transition: all 0.2s;
}